[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-filter = "*"
django-allauth = "*"
pillow = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
python-dotenv = "*"
psycopg2-binary = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.13"
